# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [31]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import cufflinks as cf
from ipywidgets import interact

cf.go_offline()

In [9]:
data = pd.read_excel('../data/Online Retail.xlsx')

In [14]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010,12,1
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010,12,1

In [15]:
data.describe()

,InvoiceNo,Quantity,UnitPrice,Revenue,CustomerID,Year,Month,Day
count,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000
mean,560620.294401,12.624838,2.867826,21.492062,15302.695435,2010.934208,7.613985,15.036547
std,13110.655964,42.816911,4.265226,93.863439,1709.744925,0.247919,3.417391,8.652763
min,536365.000000,1.000000,0.040000,0.060000,12347.000000,2010.000000,1.000000,1.000000
25%,549198.500000,2.000000,1.250000,4.680000,13975.000000,2011.000000,5.000000,7.000000
50%,561894.000000,6.000000,1.950000,11.800000,15160.000000,2011.000000,8.000000,15.000000
75%,572095.000000,12.000000,3.750000,19.800000,16805.000000,2011.000000,11.000000,22.000000
max,581587.000000,4800.000000,649.500000,38970.000000,18287.000000,2011.000000,12.000000,31.000000

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

En primer lugar, filtramos los valores del dtaframe que queremos representar.

In [25]:
data_no_UK = data[(data['Year'] == 2011) & (data['Month'] == 4) & (data['Country'] != 'United Kingdom')]
data_no_UK.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
724,549667,2011-04-11 12:20:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.70,14911,EIRE,2011,4,11
807,551163,2011-04-26 15:52:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,9,2.95,26.55,12573,France,2011,4,26
3320,550899,2011-04-21 12:07:00,22752,SET 7 BABUSHKA NESTING BOXES,2,8.50,17.00,13505,Switzerland,2011,4,21
4880,550527,2011-04-19 10:48:00,84879,ASSORTED COLOUR BIRD ORNAMENT,40,1.69,67.60,12476,Germany,2011,4,19
4882,550620,2011-04-19 13:39:00,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,54.08,12585,Germany,2011,4,19

In [34]:
interactive_01 = data_no_UK.pivot_table(index='Country', values=['Quantity', 'Revenue'], \
                                        aggfunc=np.sum)

In [39]:
interactive_01.head()

                 Quantity    Revenue
Country
Australia             224  24.800000
Austria               308  24.365833
Belgium              1170  16.258909
Brazil                356  35.737500
Channel Islands        96  30.375000

In [40]:
interactive_01.iplot(kind='bar', xTitle='Countries')

In [42]:
interactive_02 = data_no_UK.pivot_table(index='Country', values=['Quantity', 'Revenue'], \
                                        aggfunc={'Quantity': np.sum,'Revenue': np.mean })

In [ ]:
interactive_02.head()

In [43]:
interactive_02.iplot(kind='bar', xTitle='Countries')

## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [44]:
data_France = data[(data['Year'] == 2011) & (data['Month'] >= 1) & (data['Month'] <= 5) & (data['Country'] == 'France')]

In [ ]:
data_France

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

In [11]:
product_list = ['JUMBO BAG RED RETROSPOT', 
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']

country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.

In [12]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
uk = data[data['Country']=='United Kingdom']

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [13]:
agg_func = {'InvoiceNo':'nunique',
            'Quantity':'sum',
            'UnitPrice':'mean',
            'Revenue':'sum',
            'CustomerID':'nunique'}

products = uk.groupby('Description').agg(agg_func)

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.