## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [12]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Asignamos a una variable el método sample() de random.
# Que es del tipo sample(population, k)
# Con este método se devuelve una lista con longitud k en la que se generan
# k números random diferentes en el rango del parámetro "population"
# si population es menor que k no se puede ejecutar, por lo que lo más 
# básico es ejecutar sample con un número de population igual al valor de k
# NOTA: se hacen dos listas con este método pero con distinta población(con valor mayor que k) para comprobar

sample_list_1 = random.sample(range(80), 80)
sample_list_1
len(sample_list_1)
sample_list = random.sample(range(90), 80)
sample_list
len(sample_list)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [36]:
# Asignamos a una variable el set de nuestra lista.
# Da longitud 80 porque por definición el resultado de las listas que se generan con el método
# sample() de random da lugar a valores únicos dentro de la lista
set0 = set(sample_list)
set1 = set(sample_list_1)
print(len(set0))

len(set0) == len(set1)
set1

80

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [22]:
# Primera iteración en bucle FOR sobre añadir a una lista vacía
# 80 elementos que sean un número random en el intervalo (1, 80)

#empty_list = []
#for i in range(80):
 #   empty_list.append(random.randint(1, 80))
    
#empty_list

# Segunda iteración: paso a list-comprehension

sample_list_2 = [random.randint(1, 80) for i in range(80)]
sample_list_2

[56,
 41,
 44,
 43,
 67,
 53,
 75,
 63,
 31,
 27,
 7,
 76,
 19,
 1,
 6,
 56,
 2,
 68,
 69,
 6,
 47,
 18,
 33,
 47,
 23,
 18,
 15,
 24,
 66,
 68,
 4,
 36,
 79,
 9,
 30,
 24,
 40,
 47,
 74,
 53,
 27,
 4,
 7,
 13,
 47,
 33,
 30,
 64,
 5,
 36,
 80,
 2,
 23,
 69,
 39,
 6,
 22,
 10,
 65,
 38,
 80,
 21,
 9,
 37,
 46,
 1,
 76,
 13,
 31,
 61,
 23,
 72,
 75,
 54,
 35,
 25,
 77,
 54,
 73,
 57]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
# Ahora hacemos un set de la lista anterior. En este caso los elementos se pueden repetir o no
# pero cada vez que se añade un elemento a la lista es un nuevo random de dentro del mismo intervalo,
# esto es puede ser igual o no que alguno de los anteriores, pero la probabilidad de que no se repitan ni un 
# sólo elemento es muy pequeña. Es posible pero poco probable
# Para comprobarlo, comparamos sus longitudes

set2 = set(sample_list_2)
print(len(set2))
len(set1) == len(set2)
set2

52

{1,
 2,
 4,
 5,
 6,
 7,
 9,
 10,
 13,
 15,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 27,
 30,
 31,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 46,
 47,
 53,
 54,
 56,
 57,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Asignamos a la variable set3 la diferencia existente entre los elementos del set1 y el set2
set3 = set1 - set2
print(len(set3))
set3

29

{0,
 3,
 8,
 11,
 12,
 14,
 16,
 17,
 20,
 26,
 28,
 29,
 32,
 34,
 42,
 45,
 48,
 49,
 50,
 51,
 52,
 55,
 58,
 59,
 60,
 62,
 70,
 71,
 78}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Asignamos a la variable set4 la diferencia existente entre los elementos del set2 y el set1
set4 = set2 - set1
set4

{80}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [45]:
# Asignamos a la variable set5 la intersección entre los conjuntos set1 y set2
set5 = set1 & set2

print(len(set5))
set5

51

{1,
 2,
 4,
 5,
 6,
 7,
 9,
 10,
 13,
 15,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 27,
 30,
 31,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 46,
 47,
 53,
 54,
 56,
 57,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 72,
 73,
 74,
 75,
 76,
 77,
 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
print('len(set1): ', len(set1))
print('len(set2): ', len(set2))
print('len(set3): ', len(set3))
print('len(set4): ', len(set4))
print('len(set5): ', len(set5))
# La relación es:
# La suma de los rangos de los dos conjuntos originales es igual a la suma de:
# el rango del conjunto que contiene a los elementos del set1 pero NO a los del set2
# el rango del conjunto que contiene a los elementos del set2 pero NO a los del set1
# el doble del rango del conjunto que forma la intersección de ambos
# es el doble por lo siguiente:
#len(set1) == len(set3) + len(set5)
#len(set2) == len(set4) + len(set5)
# Si sumamos las dos expresiones, llegamos a la pedida

len(set1) + len(set2)  == len(set3) + len(set4) + 2 * len(set5)

len(set1):  80
len(set2):  52
len(set3):  29
len(set4):  1
len(set5):  51

True

#### Create an empty set called `set6`.

In [54]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Añadimos en dos pasos los elementos de set3 y set5 a set6
set6.update(set3)
set6.update(set5)
set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### Check if `set1` and `set6` are equal.

In [56]:
# Comprobamos si son iguales por comparación
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [60]:
# Comprobamos si set2 y set3 son subsets de set1 y observamos que set2 no y set3 sí
# Como set3 es el conjunto de los elementos en set1 pero no en set3 sí es subconjunto
# Sin embargo, hay elementos en set2 que no existen en set1, por tanto: set2 no es subconjunto de set1
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [64]:
# Declaramos una variable a la que asignamos la unión de los elementos de los conjuntos set3, set4 y set5
first_union_set = set3.union(set4, set5)
# Calculamos su longitud
len(first_union_set)
# Declaramos otra variable que es la unión de la primera variable y los conjuntos set1 y set 2
second_union_set = first_union_set.union(set1, set2)
# Calculamos su longitud
len(second_union_set)

# Finalmente, comprobamos si son iguales las dos variables anteriores... y lo son!!!!
first_union_set == second_union_set

True

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
# Con el método pop() eliminamos el PRIMER elemento.
# Este método NO admite argumentos, no podemos eliminar con este método otro elemento que no sea el primero
set1.pop()
set1

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [89]:

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Recorremos la lista list_to_remove y eliminamos cada uno de los elementos del conjunto set1
for item in list_to_remove:
       set1.discard(item)

print(len(set_to_remove))
print(len(set1))
set1

20
63

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78}