# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [46]:
import numpy as np
import pandas as pd

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [47]:
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [48]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

Creamos una función para este ejercicio que vaya a ser reutilizable.  
Con ella queremos sacar los distintos valores que toma una serie.  
####  Parámetros de entrada:  
.- df (dataframe)  
.- col (nombre de columna en string)  
#### Resultado:  
.- una lista con los distintos valores de la serie generada a partir del dataframe y columna pasados como parámetros

In [49]:
def get_values(df, col):
    x = df[col].value_counts()
    x_dict = x.to_dict()
    x_key_list = list(x_dict.keys())
    return x_key_list

In [50]:
type_1_keys_list = get_values(pokemon, 'Type 1')
type_1_keys_list

['Water',
 'Normal',
 'Grass',
 'Bug',
 'Psychic',
 'Fire',
 'Electric',
 'Rock',
 'Ghost',
 'Dragon',
 'Ground',
 'Dark',
 'Poison',
 'Fighting',
 'Steel',
 'Ice',
 'Fairy',
 'Flying']

In [51]:
type_2_keys_list = get_values(pokemon, 'Type 2')
type_2_keys_list

['Flying',
 'Ground',
 'Poison',
 'Psychic',
 'Fighting',
 'Grass',
 'Fairy',
 'Steel',
 'Dark',
 'Dragon',
 'Rock',
 'Water',
 'Ice',
 'Ghost',
 'Fire',
 'Electric',
 'Normal',
 'Bug']

In [52]:
result_after_func = list(set(type_1_keys_list + type_2_keys_list))
result_after_func

['Ground',
 'Steel',
 'Fairy',
 'Flying',
 'Rock',
 'Electric',
 'Ghost',
 'Fire',
 'Dark',
 'Poison',
 'Water',
 'Grass',
 'Dragon',
 'Ice',
 'Fighting',
 'Psychic',
 'Bug',
 'Normal']

In [53]:
type_1_keys =pokemon['Type 1'].unique()
type_1_keys

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [54]:
type_2_keys =pokemon['Type 2'].unique()
type_2_keys

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [55]:
all_types = set(list(type_1_keys) + list(type_2_keys))
result = list(all_types)
len(result)

19

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [58]:
def clean_values(x):
    try:
        if 'Mega' in x:
            x = (x.split('Mega'))[1]
            x = 'Mega' + x 
        return x
    except:
        return x

In [59]:
pokemon['Name'].apply(clean_values)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3              Mega Venusaur
4                 Charmander
5                 Charmeleon
6                  Charizard
7           Mega Charizard X
8           Mega Charizard Y
9                   Squirtle
10                 Wartortle
11                 Blastoise
12            Mega Blastoise
13                  Caterpie
14                   Metapod
15                Butterfree
16                    Weedle
17                    Kakuna
18                  Beedrill
19             Mega Beedrill
20                    Pidgey
21                 Pidgeotto
22                   Pidgeot
23              Mega Pidgeot
24                   Rattata
25                  Raticate
26                   Spearow
27                    Fearow
28                     Ekans
29                     Arbok
               ...
770                  Sylveon
771                 Hawlucha
772                  Dedenne
773                  Carbink
774                    Goomy
775                  Sliggoo
776                   Goodra
777                   Klefki
778                 Phantump
779                Trevenant
780    PumpkabooAverage Size
781      PumpkabooSmall Size
782      PumpkabooLarge Size
783      PumpkabooSuper Size
784    GourgeistAverage Size
785      GourgeistSmall Size
786      GourgeistLarge Size
787      GourgeistSuper Size
788                 Bergmite
789                  Avalugg
790                   Noibat
791                  Noivern
792                  Xerneas
793                  Yveltal
794         Zygarde50% Forme
795                  Diancie
796             Mega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [60]:
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon['A/D Ratio']

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
5      1.103448
6      1.076923
7      1.171171
8      1.333333
9      0.738462
10     0.787500
11     0.830000
12     0.858333
13     0.857143
14     0.363636
15     0.900000
16     1.166667
17     0.500000
18     2.250000
19     3.750000
20     1.125000
21     1.090909
22     1.066667
23     1.000000
24     1.600000
25     1.350000
26     2.000000
27     1.384615
28     1.363636
29     1.231884
         ...
770    1.000000
771    1.226667
772    1.017544
773    0.333333
774    1.428571
775    1.415094
776    1.428571
777    0.879121
778    1.458333
779    1.447368
780    0.942857
781    0.942857
782    0.942857
783    0.942857
784    0.737705
785    0.696721
786    0.778689
787    0.819672
788    0.811765
789    0.635870
790    0.857143
791    0.875000
792    1.378947
793    1.378947
794    0.826446
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: A/D Ratio, Length: 800, dtype: float64

### Identify the pokemon with the highest `A/D Ratio`

In [73]:
pokemon_by_ratio = pokemon.sort_values(by=['A/D Ratio'], ascending= False)
pokemon_by_ratio.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000

In [68]:
highest_pokemon_at_ad_ratio = pokemon_by_ratio.iloc[0]['Name']
highest_pokemon_at_ad_ratio

'DeoxysAttack Forme'

### Identify the pokemon with the lowest A/D Ratio

In [75]:
lowest_pokemon_at_ad_ratio = pokemon_by_ratio.iloc[-1]
lowest_pokemon_at_ad_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [ ]:
# enter your code here

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [76]:
top_five_pokemon_at_ad_ratio = pokemon_by_ratio.iloc[0:5]
top_five_pokemon_at_ad_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [ ]:
# enter your code here

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [ ]:
# enter your code here